body {
    background-color: #eaeaea;
    margin: 25px;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: #eaeaea;
    box-sizing: border-box;
}

.content {
    display: flex;
    flex-direction: row;
}

.top-nav {
    height: 25vh;
    background-color: #ffcc00;
    margin-bottom: 10px;
}

.side-nav {
    height: 64vh;
    width: 25vw;
    background-color: #66ccff;
    margin: 10px;
}

.main {
    display: flex;
    flex-wrap: wrap;
    height: 65vh;
    width: 75vw;
    background-color: deeppink;
    padding-left: 0.5vw;
    box-sizing: border-box;
}

.sub-content {
    height: 200px;
    width: 21vw;
    margin: 1vw;
    background-color: mediumblue;
}

#advertisement {
    margin: 10px;
    height: 120px;
    width: 65vw;
    background-color: #33cc33;
    margin: 10px;
}