/* Se utilizo durante el desarrollo para alinear todo... */
/* body {
    background-color: #eaeaea;
    background-color: #c02929;
} */

/* Centra todo el contenido y define el ancho fijo */
.container {
    width: 950px;
    background-color: #eaeaea;
    margin: 0 auto;
    padding: 12px 12px;
}

/* Representa una barra de navegacion */
.top-nav {
    height: 150px;
    background-color: #ffcc00;
    margin: 10px 0;
}

/* Contenido Principal */
/* display: inline-block permite que esté al lado de .side-nav */
/* vertical-align: top alinea la parte superior con .side-nav */
.main {
    display: inline-block;
    height: 400px;
    width: 700px;
    background-color: deeppink;
    vertical-align: top;
    /* alinea al tope junto con .side-nav */
}


.side-nav {
    display: inline-block;
    height: 380px;
    width: 225px;
    background-color: #66ccff;
    margin: 10px;
    vertical-align: top;
    /* alinea al tope junto con .main*/
}

/* inline-block permite que las 3 cajas estén lado a lado */
.sub-content {
    display: inline-block;
    height: 200px;
    width: 210px;
    background-color: mediumblue;
    vertical-align: top;
    margin: 10px;
}

#advertisement {
    height: 120px;
    width: 660px;
    background-color: #33cc33;
    margin: 10px;
}