/* Configuración global */

* {
    box-sizing: border-box;
}


body {
    background-color: #CBF2F4;
    margin: 10px;
}

/* Encabezado principal */
h1 {
    display: flex;
    height: 10vh;
    background-color: #948de0;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
    color: #333;
    font-size: 3rem;

}


/* Imágenes verticales por defecto */
img {
    max-width: 150px;
    height: 200px;
    border-radius: 8px;
    object-fit: cover;
}


/* Imágenes horizontales */
.horizontal-img {
    max-width: 200px;
    height: 150px;
    border-radius: 8px;
    object-fit: cover;
}

/* Fuente de Google Fonts */
.meow-script-regular {
    font-family: "Meow Script", cursive;
    font-weight: 500;
}

.container {
    display: block;
    flex-direction: column;
    width: 100%;
}

.main {
    display: block;
    background-color: deeppink;
}

/* Fila de imágenes */
.sub-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    width: 100%;
    background-color: #BBF1C4;
    padding: 20px 0px;
}

.sub-content:nth-child(2) {
    background-color: #58D0D7;
}

.sub-content:nth-child(3) {
    background-color: #82F1D4;
}


/* Pie de página */
.footer {
    height: 6vh;
    background-color: #F0BCBE;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
}