    body {
        height: 100vh;
        display: flex;
        justify-content: center;
    }


    h1 {
        text-align: center;
    }

    fieldset {

        margin: 20px;
        padding: 5px 30px 30px 30px;
        border: 3px solid #000000;
    }

    textarea {
        height: 50px;
        width: 200px;
    }


    input[type="submit"] {
        margin-top: 2vh;
    }

    label[for="user-description"] {
        margin-top: 2vh;
        display: flex;
    }

    .radio-group {
        border: none;
        padding: 0;
        margin-left: 0;

    }

    .form-group {
        display: block;
        margin-bottom: 2vh;
    }



    #subscribe {
        display: flex;
    }