body {
    background-color: #630163;
    margin: 0;
    font-family: Arial, sans-serif;
}


header,
h1,
header p {
    background-color: #1b4332;
    text-align: center;
    color: #ffeeee;
}

header h1 {
    font-size: 3em;
    font-weight: 600;
}

.hero h2 {
    font-size: x-large;
    font-weight: 600;
}

.program h3 {
    font-size: large;
    font-weight: bold;
}

.navbar,
.navbar .container-fluid,
.navbar .collapse,
.navbar .navbar-collapse,
.navbar .navbar-nav,
.navbar .nav-item,
.navbar .nav-link {
    background-color: #245741;
    color: #ffeeee;
}

.navbar-nav .nav-link:hover {
    color: #6096ba;
}

.content-wrapper {
    padding: 2rem 5rem;
    background-color: #ffeeee;
    min-height: 100vh;
}

main {
    box-sizing: border-box;
    padding: 2em;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(110, 110, 110, 0.3);
    justify-content: center;
    align-items: center;
}


.hero {
    background-color: #245741;
    text-align: center;
    color: #ffeeee;
    border-radius: 10px;
    height: auto;
    width: 100%;
    padding: 3em 2em;
    margin-bottom: 1em;
}

.programs {
    display: flex;
    flex-wrap: wrap;
    gap: 4%;
    justify-content: center;
}

.program {
    background-color: #52b788;
    text-align: center;
    color: #ffeeee;
    border-radius: 10px;
    height: auto;
    min-height: 120px;
    width: 28%;
    min-width: 300px;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}